@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&family=Quicksand:wght@300&display=swap");
:root {
  --blue: #0283cf;
  --indigo: #00afea;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --yellow: #f9f871;
  --green: #5b9330;
  --teal: #178acc;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #9b9b9b;
  --gray-dark: #5f5f5f;
  --primary: #0283cf;
  --secondary: #00a5dd;
  --success: #5b9330;
  --info: #17a2b8;
  --warning: #f9f871;
  --danger: #dc3545;
  --light: #f1f2f2;
  --dark: #5f5f5f;
  --tertiary: #bbbcbc;
  --black: #000;
  --lighter: #fafafa;
  --silver: silver;
  --grey: #727272;
  --dark-grey: #9b9b9b;
  --text-grey: #1b1f23;
  --grey-dark: #727272;
  --orange: #fa982e;
  --gray-50: #505050;
  --green-status: #70ad47;
  --active: #22c093;
  --notification-blue: #3676c0;
  --dark-blue: #0077c8;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1260px;
  --font-family-sans-serif: "Poppins", sans-serif;
  --font-family-monospace: "Quicksand", Consolas, "Liberation Mono",
    "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family-sans-serif);
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
}

.heading-1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--dark);
}

.heading-2 {
  font-size: 6rem;
  font-weight: 700;
  color: var(--indigo);
}

.heading-3 {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--white);
}

.container {
  width: 70vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.col-1_2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.col-1_3 {
  width: calc((100% - 2 * 1.6rem) / 3);
  height: 100%;
}

.card__flip-toggle {
  transform: translateY(180deg);
}

.btn {
  background-color: transparent;
  border: 1px solid var(--blue);
  border-radius: 1.6rem;
  padding: 0.1rem 5.5rem;
  text-decoration: none;
  cursor: pointer;
  color: var(--blue);
}

.btn:hover {
  background-color: var(--active);
}

.btn--white {
  background-color: var(--white);
  color: var(--primary);
}

.btn--special {
  border-color: var(--white);
  color: var(--white);
  align-self: flex-start;
}

.card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.16);
}

.card__special .card__front {
  background-color: var(--blue);
}

.card__special .card__front::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
  height: 15rem;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  background-color: var(--red);
}

.card__special .card__front::after {
  content: "winter promo";
  position: absolute;
  top: 2.8rem;
  left: 2.5rem;
  width: 5rem;
  transform: rotate(-45deg);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
}

.card__special .card__pricing {
  margin-left: 0.5rem;
  color: var(--white);
  text-align: left;
}

.card__special .card__price--now {
  font-size: 3rem;
  font-weight: 700;
}

.card__special .card__price {
  text-decoration: line-through;
  text-decoration-color: var(--red);
}

.card__special .card__price--terms {
  color: var(--white);
}

.card__special .card__header {
  color: var(--white);
  margin-top: 2rem;
  width: 65%;
}

.card__special .card__img {
  max-width: 100%;
  height: 18rem;
}

.card__special .btn {
  color: var(--white);
  border-color: var(--white);
}

.card__special .card__content {
  flex-direction: row;
}

.card__flip {
  position: relative;
  transition: transform 0.6s;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  transform-style: preserve-3d;
  transform: translateY(0);
}

.card:hover .card__flip {
  transform: rotateY(180deg);
}

.card__front, .card__back {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  background-color: var(--white);
}

.card__front {
  background-color: var(--white);
}

.card__back {
  transform: rotateY(180deg);
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__header {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  color: var(--blue);
  text-align: center;
}

.card__pricing {
  color: var(--blue);
  line-height: 2.5rem;
  text-align: center;
}

.card__price {
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
}

.card__price span {
  position: absolute;
  top: -0.4rem;
  left: 6.9rem;
  font-size: 1.4rem;
}

.card__price--terms {
  font-size: 1.4rem;
  color: var(--dark-grey);
}

.card__img {
  max-width: 100%;
  height: 18rem;
}

.card__buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-self: flex-end;
}

.card .btn {
  position: relative;
  align-self: flex-end;
  margin-right: 2rem;
}

.footer .container {
  border-top: 0.5px solid var(--grey);
  padding: 1.5rem 0;
}

.footer__content {
  width: 50%;
  text-align: center;
  margin-left: 30rem;
}

.footer__items {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer__item {
  margin: 0 1rem;
}

.footer__item:not(:last-child) {
  border-right: 3px solid var(--indigo);
  padding-right: 1rem;
}

.footer__link {
  color: var(--indigo);
}

.footer__text-version {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-grey);
  padding: 0.6rem;
  width: 5rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: var(--gray);
  transform: translateX(35rem);
  margin: 1.6rem 0;
}

.footer__copyright {
  font-size: 1.2rem;
  font-weight: 300;
  color: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}

.navbar__links, .navbar__items, .navbar__user {
  display: flex;
}

.navbar__items, .navbar__user {
  list-style-type: none;
}

.navbar__item, .navbar__user--item {
  margin-right: 2rem;
}

.navbar__link, .navbar__user--link {
  text-decoration: none;
  color: var(--gray);
  font-weight: 700;
}

.layout {
  display: grid;
  grid-template-rows: [navbar-start] 12rem [navbar-end hero-start] 25rem [hero-end content-start] repeat(5, 45rem) [content-end footer-start] 12rem [footer-end];
  grid-template-columns: 1fr 70vw 1fr;
  grid-row-gap: 1.6rem;
  gap: 1.6rem;
}

.layout .navbar {
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
}

.layout .hero {
  grid-row: 2 / span 1;
  grid-column: 1 / -1;
  background-color: var(--dark-blue);
  height: 100%;
}

.layout .hero .heading-2 {
  font-size: 4rem;
  color: var(--primary);
  background-color: var(--white);
  padding: 0.5rem 2.5rem;
  border-radius: 1rem;
  margin-left: 1.5rem;
}

.layout .hero__text {
  margin-left: 2rem;
  font-weight: 300;
  color: var(--white);
}

.layout .hero__img {
  max-width: 100%;
  height: 25rem;
}

.layout .row-1,
.layout .row-2,
.layout .row-3,
.layout .row-4,
.layout .row-5 {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.layout .row-1 {
  grid-row: 3 / span 1;
  margin-top: 2.5rem;
}

.layout .row-2 {
  grid-row: 4 / span 1;
  margin-top: 2.6rem;
}

.layout .row-3 {
  grid-row: 5 / span 1;
  margin-top: 2.6rem;
}

.layout .row-4 {
  grid-row: 6 / span 1;
  margin-top: 2.6rem;
}

.layout .row-5 {
  grid-row: 7 / span 1;
  margin-top: 2.6rem;
}

.layout .footer {
  grid-row: 8 / span 1;
  grid-column: 1 / -1;
  margin-top: 5.6rem;
}
