:root {
  --blue: #0283cf;
  --indigo: #00afea;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --yellow: #f9f871;
  --green: #5b9330;
  --teal: #178acc;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #9b9b9b;
  --gray-dark: #5f5f5f;
  --primary: #0283cf;
  --secondary: #00a5dd;
  --success: #5b9330;
  --info: #17a2b8;
  --warning: #f9f871;
  --danger: #dc3545;
  --light: #f1f2f2;
  --dark: #5f5f5f;
  --tertiary: #bbbcbc;
  --black: #000;
  --lighter: #fafafa;
  --silver: silver;
  --grey: #727272;
  --dark-grey: #9b9b9b;
  --text-grey: #1b1f23;
  --grey-dark: #727272;
  --orange: #fa982e;
  --gray-50: #505050;
  --green-status: #70ad47;
  --active: #22c093;
  --notification-blue: #3676c0;
  --dark-blue: #0077c8;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1260px;
  --font-family-sans-serif: "Poppins", sans-serif;
  --font-family-monospace: "Quicksand", Consolas, "Liberation Mono",
    "Courier New", monospace;
}
